.rotator {
    animation: animate 0.7s infinite linear;
}

.rotator:after {
    border-radius    : 50%;
    border           : .3em solid grey;
    /* border           : .3em solid limegreen; */
    border-left-color: transparent;
    content          : "";
    display          : block;
    width            : 2.5em;
    height           : 2.5em;
    box-sizing       : border-box;
    transform        : translateZ(0) scale(0.5);
}


@keyframes animate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}