.card {
  background-color   : white;
  margin             : 5px;
  padding            : 10px;
  /* color           : grey; */
  box-shadow         : 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius      : 5px;
}

.card>div {
  margin     : 5px;
  padding    : 5px;
  display    : flex;
  align-items: baseline;
}

.card>div span {
  margin-left: 10px;
}

.card>div>label {
  font-weight: bold;
  color      : #aaa;
  min-width: 80px;
}

.card>.date>span {
  color      : darkorange;
  font-weight: bold;
}

.card>.name>span {
  color      : darksalmon;
  font-weight: bold;
}

.card>.address>span {
  color         : darkseagreen;
  /* font-weight: bold; */
}

.card>.pin>span {
  color      : orange;
  font-weight: bold;
}

.card>.ageLimit>span {
  color      : magenta;
  font-weight: bold;
}

.card>.vaccine>span {
  color      : crimson;
  font-weight: bold;
}

.card>.dose1>span {
  color      : green;
  font-weight: bold;
}

.card>.dose2>span {
  color      : green;
  font-weight: bold;
}

.card>.feeType>span {
  font-weight: bold;
}

.Paid {
  background-color: red;
}

.Free {
  background-color: green;
}

.Paid,
.Free {
  color         : white;
  display       : inline-block;
  width         : 60px;
  text-align    : center;
  border-radius : 20px;
  text-transform: uppercase;
  padding       : 2px 5px;
}