.card {
  background-color: white;
  margin          : 10px;
  padding         : 10px;
  color           : grey;
  box-shadow      : 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius   : 5px;
}

.card>div {
  margin : 5px;
  padding: 5px;
}

.card label {
  color: grey;
}

.card>.date {
  color      : blue;
  font-weight: bold;
}

.card>.vaccine {
  color      : red;
  font-weight: bold;
}

.card>.pin {
  color      : orange;
  font-weight: bold;
}

.card>.name {
  color      : darkblue;
  font-weight: bold;
}

.card>.address {
  color      : magenta;
  font-weight: bold;
}

.card>.ageLimit {
  color      : purple;
  font-weight: bold;
}

.card>.dose1 {
  color      : green;
  font-weight: bold;
}

.card>.dose2 {
  color      : green;
  font-weight: bold;
}

.card>.feeType {
  font-weight: bold;
}

.Paid {
  color           : white;
  background-color: red;
  display         : inline-block;
  width           : 60px;
  text-align      : center;
  border-radius   : 20px;
}

.Free {
  color           : white;
  background-color: green;
  display         : inline-block;
  width           : 60px;
  text-align      : center;
  border-radius   : 20px;
}