.commands {
    background-color: magenta;
    display         : grid;
}

.buttons {
    margin         : auto;
    width          : 70%;
    display        : flex;
    justify-content: space-between;
    height         : 70px;
}

.find-button {
    width           : 40%;
    border          : none;
    border-radius   : 4px;
    background-color: white;
    padding         : 10px;
    outline         : none;
    cursor          : pointer;
    transition      : background .2s ease;
}

.find-button:active {
    background-color: green;
    color           : white;
}

.stop-button {
    width           : 40%;
    border          : none;
    border-radius   : 4px;
    background-color: white;
    padding         : 10px;
    outline         : none;
    cursor          : pointer;
    transition      : background .2s ease;
}

.stop-button:active {
    background-color: red;
    color           : white;
}

.find-button,
.stop-button {
    font-size: 20px;
}