.commands {
    background-color: green;
    display         : grid;
}

.buttons {
    margin         : auto;
    width          : 70%;
    display        : flex;
    justify-content: space-between;
    height         : 70px;
}

.find-button {
    width           : 30%;
    border          : 2px solid #ccc;
    border-radius   : 4px;
    background-color: white;
    padding         : 10px;
    outline         : none;
}

.stop-button {
    width           : 30%;
    border          : 2px solid #ccc;
    border-radius   : 4px;
    background-color: white;
    padding         : 10px;
    outline         : none;
}