.pincodes {
  background-color: red;
  display         : grid;
}

.pincodes-text {
  display      : block;
  margin       : auto;
  width        : 70%;
  height       : 70px;
  border       : none;
  outline      : none;
  transition   : background .2s ease;
  border-radius: 4px;
  padding      : 10px 20px;
}