* {
  box-sizing: border-box;
  font-size : 18px;
}

.dashboard {
  min-height: 100vh;
  display   : grid;
}

.findResults {
  /* background-color: red; */
  display      : grid;
  /* min-height: 100vh; */
  /* padding   : 10px; */
}

.watermark {
  position: fixed;
  bottom  : 15px;
  right   : 15px;
  opacity : 0.5;
  z-index : 99;
  color   : grey;
  font-size: 12px;
}