* {
  box-sizing    : border-box;
  /* font-size  : 18px; */
  font-family   : 'Poppins', sans-serif;
}

.dashboard {
  min-height: 100vh;
}

.findResults {
  display: grid;
}

.watermark {
  position : fixed;
  bottom   : 8px;
  right    : 8px;
  opacity  : 0.5;
  z-index  : 99;
  color    : grey;
  font-size: 10px;
}

.hideWatermark {
  display: none;
}

/* .addToHome {
  position: absolute;
  top     : 1px;
  left    : 1px;
  display : none;
} */

.inputs {
  height         : 75vh;
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
}