* {
  box-sizing: border-box;
  font-size: 18px;
}

.dashboard {
  min-height: 100vh;
  display   : grid;
}

.findResults {
  /* background-color: red; */
  display         : grid;
  /* min-height: 100vh; */
  /* padding: 10px; */
}